body{
  background-color: #EEEEEE;
}

.logoFuture {
  width: 250px;
}

h1 {
    padding-bottom: 20px;
    /* font-size: 48px; */
    color: white;
    font-size: 44px;
    font-weight: normal;
    text-transform: uppercase;
  }

/* Navbar */
#navbar {
    overflow: auto;
  }

  #navbar .logo{
    float: left;
    padding-top: 20px;
  }

  #navbar ul{
    list-style: none;
    float: right;
  }

  #navbar ul li {
    float: left;
  }

  #navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
  }

  #navbar ul li a:hover,
  #navbar ul li a.current {
    background: var(--main-color);
    color: #707070;
  }

  /* Showcase */
#showcase-home {
    background-image: url("./img/fondo-head.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
    padding: 50px;
  }

  #showcase {
    background: var(--primary-color);
    height: 40vh;
    padding: 50px;
  }

  #showcase .showcase-banner,
  #showcase-home .showcase-banner{
    background: var(--secondary-color);
    height: 100%;
    width: 60%;
    margin: auto;
    padding-top: 40px;
    text-align: center;
    font-family: 'Lobster', cursive;
  }

  #showcase-home .showcase-banner {
    opacity: 0.9;
  }

  #showcase h1,
  #showcase-home h1 {
    padding: 30px;
  }

  a {
    color: #1C658C;
    text-decoration: none;
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 30.0%;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
  }

  ol {
    column-count: 3;
  }

  .proyectos ul {
    list-style-type: none;
  }

  .proyectos li {
    text-align: center;
    float:none;
    background-color: #F6E3CA;
    margin-right: 20px;
    border: #D7C8B6 2px solid;
  }

  .proyectos {
    background-color: #398AB9;
  }

  footer {
    color: #1C658C;
    height: 50px;
    text-align: center;
    background-color: #D8D2CB;
  }

