body {
    background-color:darkslateblue;
}

header {
    background-color: orange;
}

#bloque2 {
    background-color: green;
}

section {
    background-color: yellow;
}

footer {
    background-color: peru;
}